.blogPostCard {
  border: 1px solid #868e96;
  border-radius: 5px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.blogList {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 750px)   {
  .blogList {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }
}